{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% load crispy_forms_tags %}
{% block contents %}

<div class="container">
      <section class="mb-4">
          <div class="container mt-5 ">
                  <div class="header">
                    <ul class="nav nav-pills pull-right">
                      <li><a href="#">&nbsp;</a></li>
                    </ul>
                    <h3 class="text-muted prj-name">Wadada</h3>

                          <h1>{% trans "Password Reset" %}</h1>
                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}

                        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                  </div>

                  <div style="height:auto;min-height:300px;" class="jumbotron">

                    <div class="col-md-12 form-content">


                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}

                            {{ form.email|as_crispy_field}}
                            <br>
                            <input type="submit" class="btn btn-lg btn-info btn-block" value="{% trans 'Reset My Password' %}" />
                        </form>
                        <br>
                        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

                    </div>
                  </div>
                </div>
          <hr>
                <div class="col-md-12">
                  <div class="container bootstrap snippet">
                    <footer class="footer">
                      <p>&copy; wadadaapp 2020</p>
                    </footer>
                  </div>
                </div>
      </section>
    </div>

{% endblock %}
