
{%  extends 'base.html' %}
{%  load static %}

{% block contents %}
    <!-- Main container -->
    <div class="container mb-5">
        <div class="row pt-3">

            <!-- Content -->
            <div class="col-lg-12">

            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

                    <div class="content-page">
                    <div class="profile-banner" style="background-image: url({{object.image.url}});">
                        <div class="col-sm-3 avatar-container">
                            {% if object.image%}
                            <img style="border-radius:100px;" width="200px" height="150px" src="{{object.image.url}}" class="img-circle profile-avatar" alt="User avatar">
                            {% endif%}
                        </div>
                        <div class="col-sm-12 profile-actions text-right">
                            <a href="{{object.get_add_to_selected_list}}" type="button" class="btn btn-secondary btn-lg" title="Click here, if you want this worker"><i class="fa fa-check"></i>
                                <strong>{{object.convert_charges_tzsh}} for fee commissioner TSH</strong></a>


                        </div>
                    </div>
                    <div class="content">

                        <div class="row">
                            <div class="col-sm-3">
                                <!-- Begin user profile -->
                                <div class="text-center user-profile-2" style="margin-top:120px">
                                    <ul class="list-group">
                                      <li class="list-group-item">
                                        <h4>Name:  <b>{{object.Full_name}}</b></h4>
                                        <h5>Work:  <b>{{object.work}}</b></h5>
                                      </li>

                                    </ul>

                                        <!-- User button -->
                                    <div class="user-button">
                                        <div class="row">
                                           <div class="col-lg-12">
                                                 <a href="{{object.get_add_to_selected_list}}" type="button" class="btn btn-primary btn-lg" title="Click here, if you want this worker"><i class="fa fa-check"></i>  add
                                                     this worker
                                                     to requested
                                                     workers</a>
                                           </div>
                                            <div class="col-lg-12">
                                                <a href="{% url 'core:checkout' %}" class="btn btn-default btn-lg btn-block"><i class="fa fa-user"></i>Complete request </a>
                                            </div>
                                        </div>
                                    </div><!-- End div .user-button -->
                                </div><!-- End div .box-info -->
                                <!-- Begin user profile -->
                            </div><!-- End div .col-sm-4 -->

                            <div class="col-sm-9">
                                <div class="widget widget-tabbed">
                                    <!-- Nav tab -->
                                    <ul class="nav nav-tabs nav-justified">
                                      <li class= mb-5"><a href="#user-activities" data-toggle="tab"><i class="fa fa-laptop ml-3"></i> Documents</a></li>
                                    </ul>
                                    <!-- End nav tab -->

                                    <!-- Tab panes -->
                                    <div class="tab-content">


                                        <!-- Tab timeline -->
                                        <div class="tab-pane animated active fadeInRight" id="my-timeline">
                                            <div class="user-profile-content">

                                                <!-- Begin timeline -->
                                                <div class="the-timeline">
                                                    <form role="form" method="post"  action="{% url 'core:add_comment_to_selected_labour' object.id %} " class="post-to-timeline">
                                                        {%csrf_token%}
                                                        {{form}}
                                                        <div class="row">
                                                        <div class="col-sm-6">
<!--                                                            <a class="btn btn-sm btn-default"><i class="fa fa-camera"></i></a>-->
<!--                                                            <a class="btn btn-sm btn-default"><i class="fa fa-video-camera"></i></a>-->
<!--                                                            <a class="btn btn-sm btn-default"><i class="fa fa-map-marker"></i></a>-->
                                                        </div>
                                                        <div class="col-sm-6 text-right"><button type="submit" class="btn btn-primary">Post</button></div>
                                                        </div>
                                                    </form>
                                                    <br><br>

                                                     <div class="scroll-user-widget">
                                                    <ul class="media-list">
                                                        {% for comment in object.comments_set.all %}
                                                      <li class="media">
                                                        <a class="pull-left" href="#fakelink">
                                                          <img class="media-object user-message" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQSvdl382q8a8hXT9ZSG6hASePoNH_bqAa4Lg&usqp=CAU" alt="Avatar">
                                                        </a>
                                                        <div class="media-body">
                                                          <h4 class="media-heading"><a href="#fakelink">{{user.username}}</a> <small>{{comment.created_on}}</small></h4>
                                                          <p class="ml-5 mb-3 mt-3">{{ comment.content}}</p>
                                                        </div>
                                                      </li>
                                                        {% empty%}
                                                        <p>
                                                           No comment yet
                                                            </p>
                                                        {%endfor%}


                                                    </ul>
                                                </div>
                                                </div><!-- End div .the-timeline -->
                                                <!-- End timeline -->
                                            </div><!-- End div .user-profile-content -->
                                        </div><!-- End div .tab-pane -->
                                        <!-- End Tab timeline -->



                                        <!-- Tab user activities -->
                                        <div class="tab-pane animated fadeInRight" id="user-activities">
                                            <div class="scroll-user-widget">
                                                <ul class="media-list">
                                                    {% for doc in object.labourofficialdoc_set.all %}
                                                    <li class="media">
                                                    <a href="#fakelink">
                                                        <p><strong>NIDA DOC</strong>
                                                        <br><i>8 minutes ago</i></p>
                                                    </a>
                                                        <img src="{{doc.nida.url}}" alt="">
                                                    </li>
                                                    {% empty %}
                                                        <div class="alert alert-warning" role="alert">
                                                          No documents for now
                                                        </div>

                                                    {% endfor %}

                                                </ul>
                                            </div><!-- End div .scroll-user-widget -->
                                        </div><!-- End div .tab-pane -->
                                        <!-- End Tab user activities -->

                                        <!-- Tab user messages -->

                                        <!-- End Tab user messages -->
                                    </div><!-- End div .tab-content -->
                                </div><!-- End div .box-info -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock contents %}